@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
  background-color: #17a2b8;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_tabs {
  max-width: 700px;
  width: 100%;
  /* height: 420px; */
  background-color: #fff;
  padding: 35px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.section_tabs h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.section_tabs nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 50px;
  position: relative;
}
.section_tabs nav label {
  font-size: 17px;
  color: #17a2b8;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 95px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  position: relative;
  z-index: 2;
}
.section_tabs nav label:hover {
  background-color: rgba(23, 162, 184, 0.3);
}
.section_tabs input#Home:checked ~ nav label.Home,
.section_tabs input#Blog:checked ~ nav label.Blog,
.section_tabs input#Code:checked ~ nav label.Code,
.section_tabs input#Help:checked ~ nav label.Help,
.section_tabs input#About:checked ~ nav label.About {
  color: #fff;
}

.active_slide {
  height: 100%;
  width: 20%;
  background-color: #17a2b8;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: absolute;
  z-index: 1;
  left: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.section_tabs input#Blog:checked ~ nav .active_slide {
  left: 98px;
}
.section_tabs input#Code:checked ~ nav .active_slide {
  left: 199px;
}
.section_tabs input#Help:checked ~ nav .active_slide {
  left: 299px;
}
.section_tabs input#About:checked ~ nav .active_slide {
  left: 404px;
}
.content {
  display: none;
}
.content h4 {
  margin: 30px 0 10px 0;
  font-size: 21px;
  font-weight: 600;
}
.content p{
    text-align: justify;
}
.section_tabs input#Home:checked ~ .content_tabs .content_home,
.section_tabs input#Blog:checked ~ .content_tabs .content_blog,
.section_tabs input#Code:checked ~ .content_tabs .content_code,
.section_tabs input#Help:checked ~ .content_tabs .content_help,
.section_tabs input#About:checked ~ .content_tabs .content_about {
  display: block;
}
