@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
  background-color: #17a2b8;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_tabs {
  max-width: 700px;
  width: 100%;
  height: 420px;
  background-color: #fff;
  padding: 35px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.section_tabs h3{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.section_tabs nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 50px;
}
.section_tabs nav label{
    color: #17a2b8;
}